pydantic>=2.0
python-dotenv
tenacity
orjson
rich
uvloop # For Linux only, provides better asyncio performance
pandas
pandas-ta
aiohttp
ib_insync
feedparser
vaderSentiment
structlog
ruff
mypy
pytest
pip-audit
fastapi
uvicorn
websockets
pybit
